<h3>Movie#index</h3>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if flash[:error] %>
  <%= flash[:error] %>
<% end %> 


<% @movies.each do |movie| %>
  <%= link_to "#{movie.title}", movie %>  
<% end %>

<%= link_to "add new movie", new_movie_path %>
