<div class="container mainbody">
  <div class="row">
    <div class="span12">
      <h3>LIKE ALL THE MOVIES!</h3>

      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>

      <% if flash[:error] %>
        <%= flash[:error] %>
      <% end %>

      <% @movies.each do |movie| %>
        <%= link_to "#{movie.title}", movie %>
      <% end %>
      <br><br>
      <%= link_to "add new movie", new_movie_path %>
    </div>
  </div>
</div>
