<div class="container mainbody">
  <div class="row">
    <div class="span12">
      <h3>Add A Movie</h3>

      <%= form_for @movie do |f| %>
        <%= f.text_field :title, placeholder: "Title" %><br />

        <%= f.text_area :description, placeholder: "Description" %><br />

        <%= f.submit "Add Movie" %>
      <% end %>
    </div>
  </div>
</div>
